@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html,
body,
figure,
div,
input,
textarea,
p,
/* h1, */
h2,
/* h3, */
h4,
h5,
h6,
ul {
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}

figcaption {
  display: none;
}

.topo {
    height: 70px;
    background: #F5F5F5;
}

.topo .conteudo {
    height: 100%;
    padding: 0 75px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: wrap;
    align-items: center;
    
}

.topo .conteudo h1 {
    font-size: 24px;
    margin: 0;
}

.topo .conteudo nav ul li {
    display: inline-block;
    margin: 0 0;
    padding: 0 0;
}

.topo .conteudo nav ul li button {
    font-size: 16px;
    color: #828282;
    border: none;
    background: transparent;
    cursor: pointer;
}

.topo .conteudo nav ul li .Todos {

    font-weight: bold;
    color: #333333;
}

.topo .conteudo nav ul li button:hover {
    color: #333333;
}

.principal .sectionBox {
    display: flex;
    margin: 20px 50px;
    justify-content: space-evenly;
    flex-flow: wrap;
    
}

.principal .sectionBox .cardsBox {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    width: 800px;
    height: 60%;
    background: transparent;
}

.principal .sectionBox .cardsBox .cards {
    width: 245px;
    height: 325px;
    background: #F5F5F5;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-bottom: 4px;
    box-shadow: 0px 0px 6px 3px transparent(0,0,0,0.75);
    margin: 0 0 20px 0;
}

.principal .sectionBox .cardsBox .cards:hover {
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.75);
}

.principal .sectionBox .cardsBox .cards .cardHeader {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.principal .sectionBox .cardsBox .cards img {
    height: 100%;
}

.principal .sectionBox .cardsBox .cards .cardBody {
    width: 92%;
    height: 60%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
}

.principal .sectionBox .cardsBox .cards .cardBody button {
    width: 70px;
    height: 20px;
    border: none;
    background: #2E245E;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.principal .sectionBox .cardsBox .cards .cardBody h3 {
    margin: 0;
    color: #333333;
    font-size: 16px;
}

.principal .sectionBox .cardsBox .cards .cardBody p {
    font-size: 12px;
    color: #828282;
}

.principal .sectionBox .cardsBox .cards .cardBody span {
    font-weight: bold;
    font-size: 14px;
    color:#2E245E;
}

.principal .sectionBox .cardsBox .cards .cardBody .addToCart {
    width: 150px;
    background: transparent;
    color: #828282;
    font-size: 14px;
    text-decoration: underline;
    padding-left: 0;
}

.principal .sectionBox .cardsBox .cards .cardBody .addToCart:hover {
    color: #6B54DE;
}

.principal .sectionBox .cartBox {
    width: 370px;
    height: 40%;
    background: transparent;
    
}

.principal .sectionBox .cartBox .searchArea input {
    width: 68%;
    height: 40px;
    padding-left: 15px;
    background: #F5F5F5;
    color: #828282;
}

.principal .sectionBox .cartBox .searchArea button {
    width: 29%;
    height: 40px;
    background: #6B54DE;
    font-weight: 900px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 95%;
}

.principal .sectionBox .cartBox .cartBody .cartHeader{
    width: 100%;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6B54DE;
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
}

.principal .sectionBox .cartBox .cartBody .cartInner {
    width: 100%;
    height: 320px;
    background: #F5F5F5;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList {
    width: 100%;
    height: 32%;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
    border: 1px solid transparent;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList:hover {
    border: 1px solid #333333;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList figure {
    width: 35%;
    height: 80%;
    background: white;
    display: flex;
    justify-content: center;
    margin: 3% 3% 3% 3%;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList figure img {
    height: 100%;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList h3 {
    font-size:16px;
    color: #333333;
    width: 58%;
    height: 40%;
    margin: 0 0;
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco {
    width: 59%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco p {
    color: #2E245E;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco .quantity {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 0;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco .quantity span {
    display: flex;
    justify-content: center;
    width: 37%;
    height: 100%;
    color: #2E245E;;
    font-weight: bold;
    font-size: 15px;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco .quantity button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    height: 100%; 
    width: 37%;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco .quantity .add {
    background: green;
}

.principal .sectionBox .cartBox .cartBody .cartInner .productList .preco .quantity .remove {
    background: red;
}

.principal .sectionBox .cartBox .cartBody .cartInner .emptyH3 {
    margin-top: 120px;
    font-size: 22px;
    color: #333333;
}

.principal .sectionBox .cartBox .cartBody .cartInner .emptySpan {
    font-size: 16px;
    color: #828282;
    margin: 0 45px 0 45px;
    font-weight: normal;
    
}

.principal .sectionBox .cartBox table {
    width: 100%;
    height: 120px;
    background: #333333;
    color: #828282;
}

.principal .sectionBox .cartBox table th {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 16px;
    font-weight: normal;
    color: #fff;
}

.principal .sectionBox .cartBox table td {
    width: 30%;
    text-align: end;
    padding-right: 16px;
}

.hide {
    display: none;
}


